body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../img/nysl_logo.png);
    background-size: cover;
}

.collapsible {
    overflow: visible;
}

.collapsible-body {
    padding-top: 0px;

    padding-bottom: 0px;
    overflow: auto;
    max-height: 200px;
    min-height: auto;
}

.collection .collection-item {
    border-style: groove;
    background: #ECEFF1;
    padding: 0px 10px;
}

.carousel {
    overflow: inherit;
    max-height: auto;
    min-height: auto;
    height: auto;
    flex: 1 0 auto;
}

.nav-logo {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 300px;
}

.logo {
    width: 130px;
    margin: auto auto;
}

.nav-head {
    height: 90px;
    font-size: 50px;
    margin: 0;
}

main {
    flex: 1 0 auto;
}

.main {
    flex: 1 0 auto;
}

.card-title {
    text-shadow: 3px 3px 3px #000;
}

.card-image {
    border-style: ridge;
    margin: auto;
}

.form {
    height: auto;
    overflow: scroll;
    margin: 40px 30px;
    min-height: 400px;
}

.form .col .row{
    background-color: rgba(236,239,240, 0.9);
    border-radius: 9%;
}


.date {
    border-style: ;
    background-color: lightblue;
}

#game-d {
    background-image: url(../img/bg-popup2.jpg);
    background-size: 100% 100%;
    font-weight: bold;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

iframe {
    border-style: none;
}