body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.collapsible {
    overflow: visible;
}

.collapsible-body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    overflow: auto;
    max-height: 200px;
    min-height: auto;
}

.collection .collection-item {
    border-style: groove;
    background-color: lightgray;
    padding: 1px 10px;
}

.carousel {
    overflow: inherit;
    max-height: auto;
    min-height: auto;
    height: auto;
    flex: 1 0 auto;
}

.nav-head {
    height: 90px;
}

main{
    flex: 1 0 auto;
}

.main{
    flex: 1 0 auto;
}

.card-title{
    text-shadow: 3px 3px 3px #000;
}

.card-image{
    border-style:ridge;
}

.form{
    height: auto;
    overflow: scroll;
    margin: 50px 30px;
    min-height: 400px;
}

.subtitle{
    border-top-style: solid;
}